.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  width: 33%;
  min-width: 400px;
  margin: 5px auto;
}

.search-form {
  width: 150px;
  font-size: 14px;
}

.search-form input {
  color: #262626;
  width: 150px;
  font-size: 15px;
  padding: 1px 5px;
  border: 1px solid;
}

.fab {
  font-size: 30px;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}